
<div class="row">
   <div class="col-lg-12">
          <h3>Rails</h3>
       </div>
   </div>
        <!-- /.row -->

        <!-- Page Features -->
  <div class="row text-center">
    
  <h1>rasoul welcome to Heroku</h1>

   <img src="<%= asset_path('post01.jpg') %>">

</div>
   
